svg use {
  width: 100%;
  height: 100%;
}

.log-in {
  stroke: var(--yellow-secondary-clr);
  fill: var(--white-clr);
}

.eye-off,
.close,
.book,
.heart {
  stroke: currentColor;
  fill: var(--white-clr);
}

.heart {
  transition: fill var(--transition-time) var(--transition-func),
    stroke var(--transition-time) var(--transition-func);
}

.heart:is(:hover, :focus),
.heart.active {
  fill: var(--yellow-secondary-clr);
  stroke: var(--yellow-secondary-clr);
}

.star {
  stroke: var(--rating-clr);
  fill: var(--rating-clr);
}
